body{
	background-color: #c0c0c0;
	
	font-family: Arial;
	font-size: 14px;
	color: #fff;
}

#content{
	width: 620px;
	
	margin: auto;
	margin-top: 50px;
	
	border: 1px solid #777;
	box-shadow: 0px 0px 10px -3px #000;
}

#content .head{
	height: 39px;
	background: url( ../images/update/head_bg.png ) repeat-x #008fe7;
	border-bottom: 1px solid #1173b0;
	
	padding: 3px;
}

#content .head .text{
	background: url( ../images/update/head_text.png ) no-repeat;
	width: 414px;
	height: 39px;
	
	margin-left: 5px;
}

#content.install .head .text{
	background: url( ../images/install/head_text.png ) no-repeat;
	width: 366px;
	height: 39px;
}
#content.install .head .textu{
	background: url( ../images/update/head_text.png ) no-repeat;
	width: 500px;
	height: 39px;
}

#content .body{
	background-color: #00aff0;
}

#content .body .description1{
	padding: 5px 20px 0px 20px;
}

#content .body table.advantages{
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	
	margin-top: 12px;	
}

#content .body table.advantages td{
	
	width: 50%;
	
}

#content .body table.advantages h3{
	
	font-size: 16px;

	margin: 0px;
	
}

#content .body table.advantages ul{	
	margin: 0px;
	list-style: none;
	padding: 0px;	
}

#content .body table.advantages ul li{	
	margin: 0px;	
}

#content .body .macOsAd{
	height: 77px;
	border-top: 1px solid #94e2ff;
	border-bottom: 1px solid #94e2ff;
	position: relative;		
}



#content .body .converterAd{
	background: url( ../images/update/converter_ad_bg.png );
	height: 252px;
	border-top: 1px solid #94e2ff;
	border-bottom: 1px solid #94e2ff;
	position: relative;	
}

#content .body .converterAd .text{
	position: absolute;
	width: 200px;
	height: 200px;
	left: 380px;
	top: 60px;
}

#content .body .converterAd .readMore{
	background: url( ../images/update/converter_read_more.png );
	width: 103px;
	height: 31px;
	position: absolute;
	bottom: 5px;
	right: 20px;
	
	opacity: 1;
}

#content .body .converterAd .readMore:hover{
	opacity: 0.7;
}

#content .foot{
	height: 40px;
	background: -webkit-linear-gradient( 90deg, #00aef0, #008ce7 );
	padding: 5px;
	
	position: relative;
}

#content .foot .text{
	width: 208px;
	height: 39px;
	background: url( ../images/update/bottom_text.png );
	margin-left: 5px;
}

#content .foot .buttons{
	position: absolute;
	right: 0px;
	top: 8px;
	
	width: 200px;
	height: 50px;
	
	display: table;
}

#content .foot .buttons > a{
	display: inline-block;	
	vertical-align: middle;
	
	margin-left: 10px;
	
	opacity: 0.7;
}	

#content .foot .buttons > a:hover{
	opacity: 1;
}

#content .foot .contact{
	width: 80px;
	height: 22px;
	background: url( ../images/update/contact_us.png );
}

#content .foot .facebook{
	width: 35px;
	height: 35px;
	background: url( ../images/update/facebook.png );
}

#content .foot .twitter{
	width: 35px;
	height: 35px;
	background: url( ../images/update/twitter.png );
}

.spacer{
	height: 10px;
}

#content .banner1{
	width: 620px;
	height: 220px;
	background-color: #f0f0f0;
	padding-top:20px;
}
#content .banner1 table.tages{
	width: 100%;
	height: 100%;
	color:#464646;
}

#content .banner1  .tages  .title{
	height: 40px;
	text-align: center;
	margin: 0px;
	font:bold 24px/28px Arial, Helvetica, sans-serif;
}

#content .banner1  .tages  .title a{
	text-decoration: none;
	color: #00aeef;
}
#content .banner1  .tages  .title a:hover{
	text-decoration: none;
	color: #0066cc;
}


#content .banner1  .tages  .title a > span{
	text-align: center;
	margin: 0px;
}

#content .banner1  .tages  .title a:hover > span{
	text-align: center;
	margin: 0px;
	border-bottom: 2px solid #0066cc;
}


#content .banner1  .tages  .text{
	min-height: 160px;
	text-align: left;
	margin: 0px;
	font:bold 16px/18px Arial, Helvetica, sans-serif;
	color:#464646;
}

#content .banner1  .tages  .text ul{	
	list-style: url( ../images/update/list_star.png );
	padding: 0px;	
}

#content .banner1  .tages  .text ul li{	
	margin-left: 20px;	
}

#content .descr_line{
	width: 620px;
	height: 15px;
	background-color: #f0f0f0;
	text-align: left;
}

#content .bannert{
	width: 620px;
	height: 32px;
	background: url( ../images/update/chrome_webstore.png ) repeat-x #008fe7;
}
