[Desktop Entry]
Type=Application
Exec=tilda
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_HK]=tilda
Name=tilda
Comment[en_HK]=
Comment=
