/* line 21, content.scss */
*[id^=page-ruler] {
  cursor: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  outline: 0 !important;
  vertical-align: baseline !important;
  font: normal normal normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  position: relative !important;
  display: inline !important;
  color: #000000 !important;
  border: none !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  min-height: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
  direction: lrt !important;
}

/* line 38, content.scss */
*[id^=page-ruler-] {
  width: auto !important;
}

/* line 42, content.scss */
div[id^=page-ruler], p[id^=page-ruler], h1[id^=page-ruler], h2[id^=page-ruler], h3[id^=page-ruler], h4[id^=page-ruler], h5[id^=page-ruler] {
  display: block !important;
}

/* line 47, content.scss */
input[id^=page-ruler] {
  -webkit-appearance: textfield !important;
  appearance: textfield !important;
}
/* line 49, content.scss */
input[id^=page-ruler][type=checkbox] {
  -webkit-appearance: checkbox !important;
  appearance: checkbox !important;
}
/* line 53, content.scss */
input[id^=page-ruler][type=number]::-webkit-inner-spin-button, input[id^=page-ruler][type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  cursor: pointer !important;
  display: block !important;
  width: 14px !important;
  color: #333 !important;
  text-align: center !important;
  position: relative !important;
  background-color: #ccc !important;
  height: 21px !important;
}
/* line 65, content.scss */
input[id^=page-ruler][type=number]::-webkit-inner-spin-button:hover, input[id^=page-ruler][type=number]::-webkit-outer-spin-button:hover {
  color: #3f79c2 !important;
}
/* line 72, content.scss */
input[id^=page-ruler][type=number]::-webkit-inner-spin-button:before, input[id^=page-ruler][type=number]::-webkit-inner-spin-button:after, input[id^=page-ruler][type=number]::-webkit-outer-spin-button:before, input[id^=page-ruler][type=number]::-webkit-outer-spin-button:after {
  content: "^" !important;
  position: absolute !important;
  right: 0 !important;
  font-family: monospace !important;
  font-size: 20px !important;
  right: 1px !important;
}
/* line 81, content.scss */
input[id^=page-ruler][type=number]::-webkit-inner-spin-button:before, input[id^=page-ruler][type=number]::-webkit-outer-spin-button:before {
  top: -2px !important;
}
/* line 85, content.scss */
input[id^=page-ruler][type=number]::-webkit-inner-spin-button:after, input[id^=page-ruler][type=number]::-webkit-outer-spin-button:after {
  bottom: -2px !important;
  -webkit-transform: rotate(180deg) !important;
}

/* line 95, content.scss */
#page-ruler-toolbar {
  z-index: 2000005 !important;
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;
  height: 30px !important;
  background-color: #3f79c2 !important;
  cursor: default !important;
}
/* line 106, content.scss */
#page-ruler-toolbar label {
  margin-left: 10px !important;
  font-weight: bold !important;
  padding-right: 5px !important;
  cursor: default !important;
  color: #ffffff !important;
}
/* line 114, content.scss */
#page-ruler-toolbar input[type=number] {
  padding: 3px 17px 3px 3px !important;
  width: 80px !important;
  text-align: right !important;
}
/* line 120, content.scss */
#page-ruler-toolbar input[type=color] {
  width: 40px !important;
  height: 20px !important;
  -webkit-border-radius: 2px !important;
  border-radius: 2px !important;
  border: 1px solid #777777 !important;
}
/* line 127, content.scss */
#page-ruler-toolbar .page-ruler-container {
  display: inline-block !important;
  padding-top: 5px !important;
}
/* line 132, content.scss */
#page-ruler-toolbar .page-ruler-close-container {
  float: right !important;
  padding: 5px !important;
}
/* line 135, content.scss */
#page-ruler-toolbar .page-ruler-close-container img {
  cursor: pointer !important;
}
/* line 140, content.scss */
#page-ruler-toolbar .page-ruler-px-container {
  display: inline !important;
  position: relative !important;
}
/* line 143, content.scss */
#page-ruler-toolbar .page-ruler-px-container:after {
  content: 'px' !important;
  position: absolute !important;
  right: 17px !important;
  top: 0px !important;
  color: #aaaaaa !important;
  -webkit-user-select: none !important;
  user-select: none !important;
}
/* line 153, content.scss */
#page-ruler-toolbar .page-ruler-element-toggle-container {
  float: left !important;
  height: 30px !important;
  line-height: 30px !important;
  background-color: #dae5f3 !important;
  padding-top: 2px !important;
  cursor: pointer !important;
}
/* line 160, content.scss */
#page-ruler-toolbar .page-ruler-element-toggle-container span {
  cursor: pointer !important;
  padding-left: 5px !important;
}
/* line 164, content.scss */
#page-ruler-toolbar .page-ruler-element-toggle-container img {
  padding: 0px 5px !important;
  top: 4px !important;
  cursor: pointer !important;
}
/* line 171, content.scss */
#page-ruler-toolbar #page-ruler-toolbar-container {
  height: 30px !important;
  display: table-cell !important;
  vertical-align: middle !important;
  margin-top: inherit !important;
  width: 100% !important;
  float: left !important;
}

/* line 184, content.scss */
#page-ruler-element-toolbar {
  background-color: #dae5f3 !important;
  height: 30px !important;
  line-height: 30px !important;
  vertical-align: middle !important;
  float: left !important;
  width: 100% !important;
  display: none !important;
}
/* line 193, content.scss */
#page-ruler-element-toolbar label {
  color: #000000 !important;
}
/* line 197, content.scss */
#page-ruler-element-toolbar span {
  font-weight: bold !important;
}
/* line 199, content.scss */
#page-ruler-element-toolbar span.page-ruler-tag {
  color: #00970C !important;
}
/* line 202, content.scss */
#page-ruler-element-toolbar span.page-ruler-id {
  color: #B12C9D !important;
}
/* line 205, content.scss */
#page-ruler-element-toolbar span.page-ruler-cls {
  color: #994500 !important;
}
/* line 210, content.scss */
#page-ruler-element-toolbar .page-ruler-help-container {
  padding-left: 20px !important;
  background: transparent url("images/help.png") no-repeat left center !important;
  margin-left: 10px !important;
  flex: 1 !important;
  padding-top: 8px !important;
}
/* line 218, content.scss */
#page-ruler-element-toolbar .page-ruler-nav-container {
  padding-left: 10px !important;
  cursor: pointer !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
/* line 223, content.scss */
#page-ruler-element-toolbar .page-ruler-nav-container * {
  cursor: pointer !important;
}
/* line 226, content.scss */
#page-ruler-element-toolbar .page-ruler-nav-container span {
  font-size: 11px !important;
}
/* line 229, content.scss */
#page-ruler-element-toolbar .page-ruler-nav-container img {
  top: 3px !important;
  padding-right: 2px !important;
}
/* line 233, content.scss */
#page-ruler-element-toolbar .page-ruler-nav-container > div {
  display: inline-block !important;
}
/* line 238, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-element {
  padding-left: 10px !important;
  padding-top: 3px !important;
}
/* line 241, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-element span {
  font-size: 13px !important;
}
/* line 246, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-navigate-container {
  padding-left: 10px !important;
  flex: 1 !important;
  display: flex !important;
}
/* line 252, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-container {
  float: right !important;
  padding-top: 2px !important;
}
/* line 255, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-container > label {
  top: -8px !important;
}
/* line 260, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-toggle {
  position: relative !important;
  width: 70px !important;
  display: inline-block !important;
  -webkit-user-select: none !important;
  user-select: none !important;
}
/* line 264, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-toggle.lang_pt {
  width: 110px !important;
}
/* line 267, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-toggle.lang_es {
  width: 125px !important;
}
/* line 273, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-toggle input {
  display: none !important;
}
/* line 278, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-toggle input:checked + label .page-ruler-inner {
  margin-left: 0 !important;
}
/* line 281, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-toggle input:checked + label .page-ruler-switch {
  right: 0px !important;
}
/* line 288, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-toggle label {
  display: block !important;
  overflow: hidden !important;
  cursor: pointer !important;
  border: 2px solid #999999 !important;
  -webkit-border-radius: 20px !important;
  border-radius: 20px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  height: 26px !important;
  z-index: 1 !important;
}
/* line 299, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-toggle label .page-ruler-inner, #page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-toggle label .page-ruler-switch {
  cursor: pointer !important;
}
/* line 303, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-toggle label .page-ruler-inner {
  width: 200% !important;
  margin-left: -100% !important;
  -webkit-transition: margin 0.3s ease-in;
  -webkit-transition-delay: 0s;
  transition: margin 0.3s ease-in 0s !important;
}
/* line 307, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-toggle label .page-ruler-inner:after, #page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-toggle label .page-ruler-inner:before {
  float: left !important;
  width: 50% !important;
  height: 30px !important;
  padding: 0px !important;
  line-height: 24px !important;
  font-size: 12px !important;
  color: #ffffff !important;
  font-family: Trebuchet, Arial, sans-serif !important;
  font-weight: bold !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
/* line 319, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-toggle label .page-ruler-inner:before {
  content: "__MSG_elementToolbarToggleOn__" !important;
  text-transform: uppercase !important;
  padding-left: 10px !important;
  background-color: #3f79c2 !important;
  color: #ffffff !important;
}
/* line 326, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-toggle label .page-ruler-inner:after {
  content: "__MSG_elementToolbarToggleOff__" !important;
  text-transform: uppercase !important;
  padding-right: 10px !important;
  background-color: #eeeeee !important;
  color: #999999 !important;
  text-align: right !important;
}
/* line 336, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-toggle label .page-ruler-switch {
  width: 16px !important;
  margin: 3px !important;
  background: #ffffff !important;
  border: 2px solid #999999 !important;
  -webkit-border-radius: 20px !important;
  border-radius: 20px !important;
  position: absolute !important;
  top: 0px !important;
  bottom: 0px !important;
  right: 40px !important;
  -webkit-transition: all 0.3s ease-in;
  -webkit-transition-delay: 0s;
  transition: all 0.3s ease-in 0s !important;
}
/* line 348, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-toggle label .page-ruler-switch.lang_pt {
  right: 80px !important;
}
/* line 351, content.scss */
#page-ruler-element-toolbar #page-ruler-element-toolbar-tracking-mode-toggle label .page-ruler-switch.lang_pt {
  right: 95px !important;
}

/* line 364, content.scss */
#page-ruler-mask {
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  z-index: 2000004 !important;
  cursor: crosshair !important;
}

/* line 375, content.scss */
#page-ruler {
  position: absolute !important;
  z-index: 2000005 !important;
  border-width: 1px !important;
  border-style: dashed !important;
}
/* line 381, content.scss */
#page-ruler .page-ruler-container {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  cursor: move !important;
  overflow: hidden !important;
}
/* line 388, content.scss */
#page-ruler .page-ruler-container .page-ruler-corner {
  position: absolute !important;
  width: 16px !important;
  height: 16px !important;
  border-width: 1px !important;
  border-style: dashed !important;
}
/* line 396, content.scss */
#page-ruler .page-ruler-container .page-ruler-edge {
  position: absolute !important;
}
/* line 400, content.scss */
#page-ruler .page-ruler-container .page-ruler-top {
  top: 0px !important;
  left: 0px !important;
  height: 8px !important;
  width: 100% !important;
  cursor: n-resize !important;
}
/* line 408, content.scss */
#page-ruler .page-ruler-container .page-ruler-bottom {
  bottom: 0px !important;
  left: 0px !important;
  height: 8px !important;
  width: 100% !important;
  cursor: n-resize !important;
}
/* line 416, content.scss */
#page-ruler .page-ruler-container .page-ruler-left {
  top: 0px !important;
  left: 0px !important;
  height: 100% !important;
  width: 8px !important;
  cursor: w-resize !important;
}
/* line 424, content.scss */
#page-ruler .page-ruler-container .page-ruler-right {
  top: 0px !important;
  right: 0px !important;
  height: 100% !important;
  width: 8px !important;
  cursor: w-resize !important;
}
/* line 432, content.scss */
#page-ruler .page-ruler-container .page-ruler-top-left {
  top: 0px !important;
  left: 0px !important;
  border-left: none !important;
  border-top: none !important;
  cursor: nw-resize !important;
}
/* line 440, content.scss */
#page-ruler .page-ruler-container .page-ruler-top-right {
  top: 0px !important;
  right: 0px !important;
  border-right: none !important;
  border-top: none !important;
  cursor: ne-resize !important;
}
/* line 448, content.scss */
#page-ruler .page-ruler-container .page-ruler-bottom-left {
  bottom: 0px !important;
  left: 0px !important;
  border-left: none !important;
  border-bottom: none !important;
  cursor: sw-resize !important;
}
/* line 456, content.scss */
#page-ruler .page-ruler-container .page-ruler-bottom-right {
  bottom: 0px !important;
  right: 0px !important;
  border-right: none !important;
  border-bottom: none !important;
  cursor: se-resize !important;
}
/* line 467, content.scss */
#page-ruler.page-ruler-tracking .page-ruler-container {
  cursor: pointer !important;
}
/* line 469, content.scss */
#page-ruler.page-ruler-tracking .page-ruler-container .page-ruler-edge, #page-ruler.page-ruler-tracking .page-ruler-container .page-ruler-corner {
  cursor: pointer !important;
}
